*{
    padding: 0%;
    margin: 0%;
    
}
body {
    font-family: "Young Serif", serif;
    font-weight: 200;
    font-style: normal;
  }
  .Container
  {
    padding: 50px;
  }
      .section-one{
        background-color: black;
        color: white;
        padding: 20px;
        
       
        
      }
      .section-one__profile{
        border-radius: 50px;
      }
      .section-one__Contact{
        background-color: rgb(4, 0, 255);
        color: white;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        
      }
      
      .section-one__Name{
        font-size: 50px;
     }
     .section-one__Role{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
     }
      .section-two,.section-three,.section-four,.section-five{
        margin-top: 20px;
      }
      .section-five{
        background-color: black;
        color: white;
       
       
      }
      .section-five__title a{
        background-color: black;
        color: skyblue;
      }
      .section-three__des li {
        list-style: none;
      }
       .section-three{
        background-color: darkgray;
        padding: 20px;
        height: 200px;
        border-radius: 50px;
        display: inline-block;
       vertical-align: top;
       }
       .section-four{
        background-color: aquamarine;
        padding: 20px;
        height: 200;
        display: inline-block;
        border-radius: 50px;
        vertical-align: top;
        
       }
       .section-five{
        padding: 10px;
        margin: 0px;
       }
       .contact-form__input,.contact-form__textarea,.contact-form__submit{
        margin-top: 10px;

       }
       .contact-form__input{
        padding: 10;
        border: none;
        border-bottom: solid black 1px;
       }
       .contact-form__textarea{
        padding: 10;
        border: none;
        border: solid black 1px;
       }
       
      
